@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .pixel-perfect {
        image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
        image-rendering: -moz-crisp-edges; /* Firefox                        */
        image-rendering: -o-crisp-edges; /* Opera                          */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
        image-rendering: pixelated; /* Chrome */
        image-rendering: optimize-contrast; /* CSS3 Proposed                  */
        -ms-interpolation-mode: nearest-neighbor;
    }
}

@import "additional-styles/utils.css";

html {
    scroll-behavior: smooth;
    color: white;
}

body {
    @apply font-text;
}

::selection {
    background: #e166e6; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #e166e6; /* Gecko Browsers */
}
b::selection {
    @apply text-white;
}
b::-mos-selection {
    @apply text-white;
}

a,
.clickableText {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a::after,
.clickableText::after {
    @apply sm:content-[''];
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after,
.clickableText:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.bg-main-gradient {
    @apply bg-gradient-to-tl from-purple-400 to-blue-600 backdrop-blur-lg;
    background-size: 140% 140%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 10%;
    }
    50% {
        background-position: 30% 10%;
    }
    100% {
        background-position: 0% 10%;
    }
}

#bg-grid {
    background-image: radial-gradient(
        rgba(220, 220, 220, 0.8) 1px,
        transparent 0
    );
    background-size: 40px 40px;
    background-position: 0px 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

#bg-grid::before,
#bg-grid::after {
    content: "";
    @apply border-x w-2 h-16 absolute transition-all;
}

#bg-grid::before {
    @apply left-2 -top-6 rotate-45;
}

#bg-grid::after {
    @apply right-2 -bottom-6 rotate-45;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-header;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply transition-all;
}

h1 {
    @apply leading-tight md:leading-normal;
}

h2 {
    @apply text-4xl;
}

p,
ul {
    @apply md:text-xl;
}

b,
h2 {
    @apply text-orange-200 font-bold;
}

ul {
    @apply ml-8 mt-2 list-none;
}

ul li {
    @apply relative pb-2;
}

ul li:before {
    content: "";
    @apply absolute;
}

ul li.list-single:before {
    @apply w-[6px] h-[6px] md:w-2 md:h-2 rounded-full bg-white -left-[14px] md:-left-5 top-[0.45rem] md:top-2;
}

ul li.list-sub:before {
    @apply transition-all border-b-2 border-r-2 h-2 md:h-[10px] w-2 md:w-[10px] top-[10px] md:top-[14px] -left-[18px] md:-left-6;
    transform: translateY(-50%) rotate(-45deg);
}

ul li.list-sub-open:before {
    @apply top-2 md:top-3 -left-4 md:-left-5;
    transform: translateY(-50%) rotate(45deg);
}

ul li.list-sub-closed {
    @apply hover:before:-left-6 md:hover:before:-left-8;
    @apply hover:before:h-3 md:hover:before:h-4 hover:before:w-3 md:hover:before:w-4;
}

section,
.section-box {
    @apply border p-4 md:p-6 rounded-tl-2xl rounded-br-2xl w-fit backdrop-blur-sm overflow-hidden flex flex-col gap-4 md:gap-8;
}

section::before,
.section-box::before,
section::after,
.section-box::after {
    content: "";
    @apply border-x w-2 h-16 absolute transition-all;
}

section::before,
.section-box::before {
    @apply left-2 -bottom-6 -rotate-45;
}

section::after,
.section-box::after {
    @apply right-2 -top-6 -rotate-45;
}

section:hover::before,
.section-box:hover::before,
section:hover::after,
.section-box:hover::after {
    @apply bg-white;
}

section:hover::before,
.section-box:hover::before {
    @apply -bottom-4;
}

section:hover::after,
.section-box:hover::after {
    @apply right-4;
}
